# Tibber Pulse Bridge / Tibber Bridge
TIBBER_BRIDGE_HOST=192.168.1.24
TIBBER_BRIDGE_PORT=80
TIBBER_BRIDGE_NODEID=4
TIBBER_BRIDGE_USER=admin
TIBBER_BRIDGE_PASSWORD=XXXX-XXXX
TIBBER_BRIDGE_LOGLEVEL=info

# Emulated EM24 meter / Emulierter EM24-Zaehler
EM24_METER_HOST=0.0.0.0
EM24_METER_PORT=502
EM24_METER_ID=12345678
EM24_METER_HOSTNAME=EM24

# LAN address of the container / LAN-Adresse des Containers
EM24_METER_IP=192.168.1.250
EM24_METER_MAC=22:10:4e:1e:c9:ae
EM24_NETWORK_PARENT=eno1
EM24_NETWORK_SUBNET=192.168.1.0/24
EM24_NETWORK_GATEWAY=192.168.1.1
